@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import './utils/utils';
@import './utils/header';
@import './utils/aboutSection';
@import './utils/cases';
@import './utils/contact';
@import './utils/footer';

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles */
body{
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

ul{
  list-style: none;
}

a{
  color: #FF6B6B;
  text-decoration: none;
}

h1, h2{
  font-weight: 300;
  line-height: 1.2;
}

p{
  margin: 10px 0;
}

img{
  width: 100%;
}

/* team */
.team {
  .flex-items img{
    border-radius: 50%;
    width: 300px;
  }
}


/* Mobile */
@media(max-width: 768px) {
  .navbar {
      flex-direction: column;
      height: 120px;
      padding: 20px;
  }

  .navbar a {
      padding: 10px 10px;
      margin: 0 3px;
  }

  .flex-items {
      flex-direction: column;
  }

  .flex-columns .column, .flex-grid .column {
      flex: 100%;
      max-width: 100%;
  }

  .team img {
      width: 70%;
  }
}
