/* Icons */
.icons{
  padding: 30px;
  h3{
    margin-bottom: 15px;
  }
  i{
    background-color: $bg-primary;
    padding: 1rem;
    color: $text-tertiary;
    border-radius: 50%;
    margin-bottom: 15px;
  }
}
